<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IOT模块运行后台</title>
</head>
<body>

<div class="socket" id="socket">
  <strong>开启Netty服务器</strong>
  <form action="" method="post" onsubmit="return socketAjax(this)" >
    IP地址： <input type="text" name="host"  value="0.0.0.0">
    <br/>
    访问端口：<input type="number" name="port" value="9999">
    <br/>
    交换器： <input type="text" name="exchangName" value="direct_IoT">
    <br/>
    <button type="submit"  >连接网络</button>
  </form>
</div>

</body>
<script src='/static/js/jquery-3.6.4.js'></script>
<script>
  var formData;
  var host;
  var port;
  var exchangName;
  var routingKey;
  var queueName;
  //获取表单数据，建立Netty服务器，接收数据并发送到消息队列
  function socketAjax(form){
    formData = new FormData(form);
    host = formData.get('host');
    port = formData.get('port');
    exchangName = formData.get('exchangName');
    routingKey = formData.get('routingKey');
    queueName = formData.get('queueName');

    //ajax获取表单数据异步处理Netty-Rabbit服务器搭建方式
    $.ajax({
      type: "post",
      url: "/Netty/server",
      data:{
        "host": host,
        "port": port,
        "exchangName": exchangName,
        "routingKey": routingKey
      },
      success: function(data){

      }
    })

    return false;  //阻止表单默认提交
  }
</script>

<style>
  div.socket{
    width: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: cornflowerblue;
    display: inline-block;

  }
</style>
</html>